.background-wrap{
    position: fixed;
    z-index: -1000px;
    width: 100%;
    height:100%;
    overflow: hidden;
    top: 0;
    left: 0;

}

#video-bg-elem{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-blend-mode: multiply;
    
    

}

#formGroup{
    background-color:white;
    margin-top: 180px;
}

header{
    background-color: black;
    color: aliceblue;
    width: 100%;
}

.card{
    width: 650px;
    margin-left: 400px;
}